body{
    margin: 0px;
    padding: 0px;
}

.card{
    color: rgb(5, 5, 5);
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 3rem;
    
}
.subcard{
    background-color: blueviolet;
    padding: 1rem;
}
